DEBUG_MODE="on"
APP_NAME="BIDMC COVID-19 College Study"
SUPPORT_EMAIL="collegestudy@bidmc.harvard.edu"
PUBLIC_URL="college-study-v3.lamp.digital"
PUSH_API_KEY=""
PUSH_GATEWAY="app-gateway.lamp.digital"
PUSH_SLACK_HOOK="XXXX/XXXX/XXXX"
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
AWS_REGION="us-east-1"
LAMP_USERNAME=""
LAMP_PASSWORD=""
RESEARCHER_ID=""
REDCAP_REQUEST_CODE=""
ADMIN_REQUEST_CODE=""
