DEBUG_MODE="on"
APP_NAME="BIDMC COVID-19 College Study"
SUPPORT_EMAIL="collegestudy@bidmc.harvard.edu"
PUBLIC_URL="college-study.lamp.digital"
PUSH_API_KEY=""
PUSH_GATEWAY="app-gateway.lamp.digital"
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
AWS_REGION="us-east-1"
LAMP_USERNAME=""
LAMP_PASSWORD=""
RESEARCHER_ID=""
REDCAP_REQUEST_CODE=""
ADMIN_REQUEST_CODE=""
DOCKER_UPDATE_WEBHOOK="https://console.lamp.digital/api/webhooks/REDACTED_PLEASE_CONSULT_PORTAINER_DOCS_FOR_INFO"